@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body{
    background-image: url(../img/bgCredits.svg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.row{
    margin-right: 0;
}
.back{
    cursor: pointer;
}
#container{
    padding-bottom: 10vh;
}